﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div id="commento"></div>
        <script src="https://cdn.commento.io/js/commento.js"></script>
    </div>
